<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="link4" params="parent">

    <link name="body4">
      <visual>
        <origin xyz="0 0 -0.08" rpy="0 0 0" />
        <geometry>
          <box size="0.02 0.02 0.16"/> 
        </geometry>
        <material name="grey"/>
      </visual>
      <inertial>
        <mass value="0.333"/>
        <origin xyz="0 0.003 -0.098"/> 
        <inertia ixx="0.003709" ixy="0.000002" ixz="-0.000004" iyy="0.003734" iyz="0" izz="0.000079"/> 
      </inertial>
    </link>

    <joint name="link3_to_body4" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <parent link="${parent}"/>
      <child link="body4"/>
    </joint>
    
    <link name="link4">
      <visual>
        <geometry>
          <box size="0.01 0.01 0.01"/> 
        </geometry>
      </visual>
    </link>

    <joint name="link3_to_link4" type="fixed">
      <origin xyz="0 0 -0.18" rpy=" 1.5707 0 1.5707"/> 
      <parent link="${parent}"/>
      <child link="link4"/>
    </joint>

  </xacro:macro>
</robot>