<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="link5" params="parent">
    
    <link name="link5">
      <visual>
        <geometry>
          <box size="0.01 0.01 0.01"/> 
        </geometry>
      </visual>
    </link>

    <joint name="link4_to_link5" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 -1.5707"/> 
      <parent link="${parent}"/>
      <child link="link5"/>
    </joint>

  </xacro:macro>
</robot>